# Byte-compiled / optimized / DLL files
__pycache__/
best_model.pt



# Distribution / Files
.Python
models/
data/
runs/
reports/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.pt

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
tensorboard/

# Unit test / coverage reports


# Translations


